<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/scrollbar/css/jquery.mCustomScrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/profile.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
</div>

<div layout:fragment="main-content">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">CryptoPurse's All-In-Carl</h1>
            <ul class="pull-right breadcrumb">
                <li class="active"><a th:href="@{/wallet}">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="container content-sm">
        <div class="row">
            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><a href="#">5 minute TA</a></h2>

                            <p>
                            <ul>
                                <li>
                                    SMA: <span th:text="${fiveMinSMA.advice}"></span>
                                    (<span th:text="${fiveMinSMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    DEMA: <span th:text="${fiveMinDEMA.advice}"></span>
                                    (<span th:text="${fiveMinDEMA.confirmations}"></span> confirmations)

                                </li>
                                <li>
                                    MACD: <span th:text="${fiveMinMACD.advice}"></span>
                                    (<span th:text="${fiveMinMACD.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MM: <span th:text="${fiveMinMM.advice}"></span>
                                    (<span th:text="${fiveMinMM.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    CCI: <span th:text="${fiveMinCCI.advice}"></span>
                                    (<span th:text="${fiveMinCCI.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    RSI2: <span th:text="${fiveMinRSI2.advice}"></span>
                                    (<span th:text="${fiveMinRSI2.confirmations}"></span> confirmations)
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a href="#">15 min TA</a></h2>
                            <p>
                            <ul>
                                <li>
                                    SMA: <span th:text="${fifteenMinSMA.advice}"></span>
                                    (<span th:text="${fifteenMinSMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    DEMA: <span th:text="${fifteenMinDEMA.advice}"></span>
                                    (<span th:text="${fifteenMinDEMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MACD: <span th:text="${fifteenMinMACD.advice}"></span>
                                    (<span th:text="${fifteenMinMACD.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MM: <span th:text="${fifteenMinMM.advice}"></span>
                                    (<span th:text="${fifteenMinMM.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    CCI: <span th:text="${fifteenMinCCI.advice}"></span>
                                    (<span th:text="${fifteenMinCCI.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    RSI2: <span th:text="${fifteenMinRSI2.advice}"></span>
                                    (<span th:text="${fifteenMinRSI2.confirmations}"></span> confirmations)
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br/>

        <div class="row">


            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a href="#">1h TA</a></h2>
                            <p>
                            <ul>
                                <li>
                                    SMA: <span th:text="${oneHourSMA.advice}"></span>
                                    (<span th:text="${oneHourSMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    DEMA: <span th:text="${oneHourDEMA.advice}"></span>
                                    (<span th:text="${oneHourDEMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MACD: <span th:text="${oneHourMACD.advice}"></span>
                                    (<span th:text="${oneHourMACD.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MM: <span th:text="${oneHourMM.advice}"></span>
                                    (<span th:text="${oneHourMM.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    CCI: <span th:text="${oneHourCCI.advice}"></span>
                                    (<span th:text="${oneHourCCI.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    RSI2: <span th:text="${oneHourRSI2.advice}"></span>
                                    (<span th:text="${oneHourRSI2.confirmations}"></span> confirmations)
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a href="#">4h TA</a></h2>
                            <p>
                            <ul>
                                <li>
                                    SMA: <span th:text="${fourHourSMA.advice}"></span>
                                    (<span th:text="${fourHourSMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    DEMA: <span th:text="${fourHourDEMA.advice}"></span>
                                    (<span th:text="${fourHourDEMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MACD: <span th:text="${fourHourMACD.advice}"></span>
                                    (<span th:text="${fourHourMACD.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MM: <span th:text="${fourHourMM.advice}"></span>
                                    (<span th:text="${fourHourMM.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    CCI: <span th:text="${fourHourCCI.advice}"></span>
                                    (<span th:text="${fourHourCCI.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    RSI2: <span th:text="${fourHourRSI2.advice}"></span>
                                    (<span th:text="${fourHourRSI2.confirmations}"></span> confirmations)
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <br/>

        <div class="row">
            <div class="col-md-offset-3 col-sm-6 sm-margin-bottom-40">
                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a href="#">1D TA</a></h2>
                            <p>
                            <ul>
                                <li>
                                    SMA: <span th:text="${oneDaySMA.advice}"></span>
                                    (<span th:text="${oneDaySMA.confirmations}"></span> confirmations)

                                </li>
                                <li>
                                    DEMA: <span th:text="${oneDayDEMA.advice}"></span>
                                    (<span th:text="${oneDayDEMA.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MACD: <span th:text="${oneDayMACD.advice}"></span>
                                    (<span th:text="${oneDayMACD.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    MM: <span th:text="${oneDayMM.advice}"></span>
                                    (<span th:text="${oneDayMM.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    CCI: <span th:text="${oneDayCCI.advice}"></span>
                                    (<span th:text="${oneDayCCI.confirmations}"></span> confirmations)
                                </li>
                                <li>
                                    RSI2: <span th:text="${oneDayRSI2.advice}"></span>
                                    (<span th:text="${oneDayRSI2.confirmations}"></span> confirmations)
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Service Block ===-->
</div>

<div layout:fragment="footer-content">

    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/js/forms/checkout.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/js/plugins/datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/js/forms/reg.js}"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table-locale-all.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/assets/js/websockets/websockets.js}"></script>

    <script type="text/javascript">
		jQuery(document).ready(function () {
			App.initScrollBar();
		});

		function logWebSocket(body) {
			console.log("get answer!");
            console.log(body)
		}

        WebSockets
			.connect('/topic/krakenvolume', logWebSocket);
    </script>
</div>

</html>