<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/scrollbar/css/jquery.mCustomScrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/profile.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
</div>

<div layout:fragment="main-content">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Trend Analysis Indicators</h1>
            <ul class="pull-right breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>Trading</li>
                <li class="active">Indicators</li>
            </ul>
        </div>
    </div>
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-12">
                <h1>Trend analysis per timeframe</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div id="chart_div" style="width: 100%; height: 600px;"></div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-6 sm-margin-bottom-40" th:each="indication : ${indications}">

                <div class="funny-boxes funny-boxes-top-sea">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 th:text="${indication.period}"></h2>
                            <ul>
                                <li th:each="advice : ${indication.generalAdvices}">

                                    <span th:text="${advice.strategyType}"></span>: <span
                                        th:text="${advice.advice}"></span>
                                    (<span th:text="${advice.confirmations}"></span> confirmations)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

        <div id="statistics" class="row">
            <hr />
                <div class="counters col-md-4 col-sm-4">
                    <span class="counter" id="volumeCounter">0</span>
                    <h4>eth/min</h4>
                </div>
                <div class="counters col-md-4 col-sm-4">
                    <span class="counter" id="tradeCounter">0</span>
                    <h4>trades/min</h4>
                </div>
                <div class="counters col-md-4 col-sm-4">
                    <span class="counter" id="priceCounter">0</span>
                    <h4>latest price</h4>
                </div>
        </div>

    </div><!--/container-->
    <!--=== End Service Block ===-->
</div>

<div layout:fragment="footer-content">

    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js}"></script>

    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table-locale-all.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


    <script type="text/javascript" th:src="@{/assets/unify/plugins/counter/waypoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/plugins/counter/jquery.counterup.min.js}"></script>

    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/assets/js/websockets/websockets.js}"></script>

    <script type="text/javascript">
		jQuery(document).ready(function () {
			App.initScrollBar();
			App.initCounter();
			$("#statistics").hide();
		});

		function logWebSocket(message) {
			var statistic = JSON.parse(message.body);
			$("#volumeCounter").text((statistic.volume));
			$("#priceCounter").text((statistic.price));
			$("#tradeCounter").text((statistic.tradeCount));
			$("#statistics").show();
		}

		WebSockets
			.connect('/topic/krakenvolume', logWebSocket);
    </script>

    <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

		var currencyPair = [[${currencyPair}]];
		var exchange = [[${exchange}]];
		var period = "FIVE_MIN";


		google.charts.load('current', {'packages': ['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function tooltipContent(tick) {
			return "<p>low: " + tick.low + "</p><p>high: " + tick.high + "</p>";
		}

		function drawChart() {

			var myArray = [];

			var timeseriesUrl = "/rest/timeseries?period=" + period + "&exchange=" + exchange + "&pair=" + currencyPair;

			$.get(timeseriesUrl, function (result) {
				$.each(result, function (idx, value) {
					myArray.push(['value', value.low, value.open, value.closed, value.high, tooltipContent(value)]);
				});

				var data = google.visualization.arrayToDataTable(
					myArray, true);


				data.setColumnProperty(5, 'role', 'tooltip');

				var options = {
					legend: 'none',
					animation: {
						startup: true,
						easing: 'in'
					},
					tooltip: {
						isHtml: true
					},
					vAxis: {
						format: 'decimal'
					},
					candlestick: {
						fallingColor: {strokeWidth: 0, fill: '#a52714'}, // red
						risingColor: {strokeWidth: 0, fill: '#0f9d58'}   // green
					}
				};

				var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

				chart.draw(data, options);
			});
		}
        /*]]>*/
    </script>
</div>

</html>