<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/scrollbar/css/jquery.mCustomScrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/profile.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
</div>

<div layout:fragment="main-content">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">CryptoPurse's All-In-Carl</h1>
            <ul class="pull-right breadcrumb">
                <li class="active"><a th:href="@{/wallet}">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 content-boxes-v6 md">
                <i class="rounded-x icon-link"></i>
                <h1 class="title-v3-md text-uppercase margin-bottom-10">Automated Kraken Imports</h1>
                <p>Cryptotrader automatically imports all kraken trades.</p>
            </div>
            <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
                <i class="rounded-x icon-paper-plane"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">Automated TA</h2>
                <p>Based on different periods and currency pairs, we can calculate optimal BUY/SELL strategies.</p>
            </div>
            <div class="col-md-4 content-boxes-v6">
                <i class="rounded-x icon-refresh"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">Automated Trading</h2>
                <p>Let this bot trade for you on Kraken. We'll use the most optimal settings to perform your trades.</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Service Block ===-->
</div>

<div layout:fragment="footer-content">

    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/assets/unify/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/js/forms/checkout.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/js/plugins/datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/js/forms/reg.js}"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table-locale-all.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.initScrollBar();
        });
    </script>
</div>

</html>