<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<div layout:fragment="header-content">

</div>

<div layout:fragment="main-content">
    <div class="container content-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 md-margin-bottom-30">
                    <h2 class="title-v2">Registration Completed</h2>
                    <p>Registration has been completed</p>
                    <p>Although your registration has been completed, you still need to activate your account. Check
                        your inbox for an activation email.</p><br/>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="footer-content">

</div>

</html>