<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/decorator">

<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/scrollbar/css/jquery.mCustomScrollbar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/pages/profile.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"/>
</div>

<div layout:fragment="main-content">
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Manage Import Configurations</h1>
            <ul class="pull-right breadcrumb">
                <li><a th:href="@{/}">Home</a></li>
                <li>Admin</li>
                <li class="active">Import Configurations</li>
            </ul>
        </div>
    </div>
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-3 col-sm-3">
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter-icon"><i class="fa fa-user-times rounded"></i></span>
                <span class="counter" id="userCount">0</span>
            </div>
            <div class="counters col-md-3 col-sm-3">
                <span class="counter-icon"><i class="fa fa-line-chart rounded"></i></span>
                <span class="counter" id="tradeCount">0</span>
            </div>

            <div class="col-md-3 col-sm-3">
            </div>
        </div>
        <br />
        <div class="row pie-progress-charts margin-bottom-60">
            <div class="inner-pchart col-md-3">
            </div>
            <div class="inner-pchart col-md-3">
                <div class="circle" id="circles-1"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#D3B6C6" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"></path><path fill="transparent" stroke="#9B6BCC" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 52.91551060221643 136.85147883193775 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">54</span></span><span class="circles-text">%</span></div></div></div>
                <h3 class="circle-title">Heap</h3>
                <p>Percentage of free heapspace</p>
            </div>
            <div class="inner-pchart col-md-3">
                <div class="circle" id="circles-2"><div class="circles-wrp" style="position:relative; display:inline-block;"><svg width="140" height="140"><path fill="transparent" stroke="#C9FF97" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 69.90416038427306 1.0000665596838587 Z"></path><path fill="transparent" stroke="#72c02c" stroke-width="2" d="M 69.98594654894504 1.0000014311557095 A 69 69 0 1 1 19.730006348346947 117.26444475779613 "></path></svg><div class="circles-text-wrp" style="position:absolute; top:0; left:0; text-align:center; width:100%; font-size:35px; height:140px; line-height:140px;"><span class="circles-number"><span class="circles-number">63</span></span><span class="circles-text">%</span></div></div></div>
                <h3 class="circle-title">Memory</h3>
                <p>Percentage of free memory</p>
            </div>
            <div class="inner-pchart col-md-3">
            </div>

        </div>
    </div><!--/container-->
    <!--=== End Service Block ===-->
</div>

<div layout:fragment="footer-content">

    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/assets/js/websockets/websockets.js}"></script>
    <script type="text/javascript" th:src="@{/assets/unify/plugins/circles-master/circles.js}"></script>


    <script type="text/javascript">
		jQuery(document).ready(function () {


			function onSuccess() {
				WebSockets.subscribe('/app/admin/dashboard/user-count', function (result) {
					$("#userCount").text(result.body);
				});
				WebSockets.subscribe('/app/admin/dashboard/trade-count', function (result) {
					$("#tradeCount").text(result.body);
				});
			}

			function onFailure() {
				setTimeout(connect, 5000);
			}

			function parseResults(result) {
				console.log('heap used ' + result["heap.used"]);
				console.log('total heap ' + result["heap"]);

				var heapPercentage = (100 - result["heap.used"] / result["heap"]);
				var memPercentage = (100 - result["mem.free"] / (result["mem"] + result["mem.free"]));

				Circles.create({
					id:         'circles-1',
					percentage: heapPercentage,
					radius:     80,
					width:      2,
					number:     heapPercentage,
					text:       '%',
					colors:     ['#D3B6C6', '#9B6BCC'],
					duration:   1000
				});
				Circles.create({
					id:         'circles-2',
					percentage: memPercentage,
					radius:     80,
					width:      2,
					number:     memPercentage,
					text:       '%',
					colors:     ['#C9FF97', '#72c02c'],
					duration:   1000
				});
				console.log(result);
				console.log('active httpsessions ' + result["httpsessions.active"]);
				setTimeout(getMetrics, 5000);
			}

			function getMetrics() {
				$.get('/metrics', function (result) {
					parseResults(result);
				});
			}

			function connect() {
				WebSockets.connect(onSuccess, onFailure);
				getMetrics();
			}

			connect();
		});
    </script>
</div>

</html>